
.product-btn{
    background-color:dimgray;
    font-family: 'Times New Roman', Times, serif;
}
.footer{
    background-image: url("http://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
}
.exlpore{
    background-color: black;
}