.banner{
    background-image: url("https://images.unsplash.com/photo-1518563259479-d003c05a6507?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
    background-repeat:no-repeat ;
    background-size: cover;
    height: 600px;
}
.bold{
   

    font-family: cursive;
    font-weight: 4900;
    font-size: 18px;
    color:floralwhite
}
.head{
    background-image: url("https://p1.pxfuel.com/preview/223/931/800/lights-dark-red-white-car-street.jpg");
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact{
    background-image: url("https://hips.hearstapps.com/roa.h-cdn.co/assets/15/32/1600x800/landscape-1438610699-hellcat1.jpg?resize=1200:*");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.dashboard{
    height: 500px;
}
.colp{
    
   
    text-decoration: none;
    font-size: 17px;

   
}
.classy{
    height: 500px;
    background-color:darkseagreen ;
}
.pass{
    height: 600px;
}
.dark{
    color: black;
}